{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1 style="text-align: center;">DiscountLocator</h1>

    {% if current_user.is_authenticated %}
        <p>Ищите товары по выгодным ценам</p>
        <form method="get" action="{{ url_for('search.search') }}">
            <input type="text" name="q" placeholder="Что ищем?" required>
            <button type="submit">Искать</button>
        </form>
    {% else %}
        <p style="text-align: center;">Войдите, чтобы начать поиск</p>
    {% endif %}
{% endblock %}